<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Index for pythonbeltapp</title>
  {% load staticfiles %}
<link rel="stylesheet" href="{% static 'pythonbeltapp/css/style.css' %}"media="screen" title="no title"  charset="utf-8">
<script src="{% static 'pythonbeltapp/js/main.js' %}" > </script>
</head>
<body>
  <h1>Hello World</h1>
  <div class="line"><span class="text html basic"><span>{{somekey}}</span></span></div>
</body>
</html>
